@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

:root {
  --primary-color: #2be135;
  --text-color: #0c130c;
  --body-background: #ececec;
  --body-color: #0c130c;
  --modal-color: white;
  --toggle-color: #f1f6f1;
}
[data-theme="dark"] {
  --primary-color: #2be135;
  --text-color: #f1f6f1;
  --body-background: #2c2f31;
  --body-color: #f1f6f1;
  --modal-color: #212529;
  --toggle-color: #2be135;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-background) !important;
  color: var(--body-color) !important;
}

.logo-img {
  max-width: 150px; /* Adjust as needed */
  height: auto; /* Preserve aspect ratio */
}
