.register {
  height: 80%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.desc {
  width: 60%;
  text-align: center;
  padding: 10px;
  border: 2px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 2%;
  -webkit-border-radius: 2%;
  -moz-border-radius: 2%;
  -ms-border-radius: 2%;
  -o-border-radius: 2%;
}
.bienvenue {
  margin-bottom: 25px;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  color: blue;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.img {
  width: 40%;
}

@media (max-width: 576px) {
  /* Small devices (portrait phones) */
  .desc {
    width: 95%;
    margin: auto 10px;
  }
  .img {
    width: 55%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* Medium devices (landscape phones) */
  .desc {
    width: 90%;
    margin: auto 10px;
  }
  .img {
    width: 45%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  /* Large devices (tablets) */
  .desc {
    width: 80%;
  }
}

@media (min-width: 993px) {
  /* Extra large devices (desktops) */
  .desc {
    width: 80%;
  }
}
